/* questo è un commento */
/*
    Commento 
    multi linea
*/

/* SELETTORI */

/* Selettore universale */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Selettore di base o di tag */
h1, h2 {
    color: brown;
    font-style: italic;
}

/* h2 {
    color: brown;
    font-style: italic;
} */

/* Selettore di Classe */
.pippo {
    color: cornflowerblue;
    font-size: 20px;
}

/* Selettore di Id */
#primo {
    text-decoration: underline;
}

/* Selettore di discendenti */
main p {
    font-weight: bold;
}

/* Selettore di figli */
main > p {
    font-style: oblique;
}

/* Selettore di fratelli adiacenti */
h1 + h2 {
    color: blueviolet;
}

/* Selettore di fratelli */
h1 ~ h2 {
    text-decoration: line-through;
}

/* Selettore in base ad un attributo */
input[name] {
    border: 1px solid red;
}
/* Selettore in base ad un attributo con un valore esatto */
input[type="text"] {
    width: 80px;
}
/* Selettore in base ad un attributo che contiene uno specifico valore */
input[placeholder~="Full"] {
    border-radius: 15%;
}

/* Selettore in base ad un attributo che inizia con uno specifico valore */
input[name^="pas"] {
    color: darkseagreen;
}

/* Selettore in base ad un attributo che termina con uno specifico valore */
input[placeholder*="e..."] {
    background-color: chartreuse;
}

/* Pseudo Classi */
a:hover {
    color: darkgoldenrod;
}

input[type="email"]:focus {
    border: 5px solid green;
}

aside div:first-child {
    border: 1px solid red;
    font-size: 20px;
    font-weight: bold;
    background-color: burlywood;
}

aside div:last-child {
    border: 1px solid rgb(255, 0, 204);
}

aside div:not(div:first-child) {
    color: rgb(0, 255, 242);
}

/* 2n+1 | odd | even */
aside div:nth-child(even) {
    background-color: darkgray;
}

/* Pseudo Elementi */

aside div p::first-letter {
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    color: brown;
}

aside div h1::before {
    content: " ( ";
    color: chartreuse;
}

aside div h1::after {
    content: " ) ";
    color: chartreuse;
}